fastapi
uvicorn
python-dotenv
google-generativeai
langchain-google-genai
langchain
pydantic
reportlab
weasyprint
email-validator
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client 